*{
    overflow: visible;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #8BA1BB;
    margin: 0;
    

}

p.categorie {
    color: white;
    background-color: black;
    display: inline-block;
    padding: 10px 40px 10px 40px;
    font-size: 20px;
    font-weight: bold;
    margin-top: -20px;


}

div.categorie {
    text-align: center;
    margin-top: -20px;
    overflow: visible;

}

.contenu {

    background-color: white;
    margin-top: 60px;
    /*min-width: 550px;*/
    overflow: visible;
    box-shadow: 0px 0px 12px 2px  #474747c0;
    margin: 60px 10% 80px 10%;    
    padding: 0px 30px 300px 30px;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 20px;
}

p.description {

    max-width: 400px;
    display: inline-block;
    font-size: 14px;
}

div.description {
    text-align: center;

}

div.separator {
    background-color: black;
    padding-top: 1px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
}
div.info{
    position:relative;
}

table.info {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
    text-align: center;
}
table.info td{
    text-align: center;
    font-size: 12px;
    vertical-align: top;
}
table.info th{
    vertical-align: bottom;
    padding-bottom: 8px;
    font-size: 14px;
}
img.info{
    width: 100%;
    max-height: 400px;
    display: block;
    object-fit: cover;
    min-height: 200px;
}
div.colonne{
    width: 100%;
}

div.colonne1{
    
    display: inline;
    margin-right: 10%;
}

.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    border-bottom: 5px solid #6C829D ;
    padding-bottom: 5px;
}
div.ingredients p{
    border: 1px solid lightgrey;
    padding: 8px;
    margin: 4px;
    text-align: center;
    font-size: 14px;    
}
table.preparation p.numero{
    background-color: #6C829D;
    color:white;
    width: 25px;
    height:25px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    padding-top: 4px;
    margin:-4px;
    border-radius: 50%;   
    
}
table.preparation tr{
    height:40px;
    font-size: 14px;
    
}
table.preparation td.preparation_etapes{
    padding-left: 10px;
    padding-bottom: 10px;
}
table.preparation td{
    vertical-align: top;
}
@media only screen and (min-width: 768px){
    
.contenu {
    min-width: 550px;
    margin: 50px 10% 50px 10%;    
    padding: 0px 30px 30px 30px;
    }
    div.colonne1{
    
        display: inline-block;
    }
    div.colonne2{
        float: right;
    }
    
    div.colonne{
        width: 45%;
        margin-top: 20px;
    }
    table.info{
        height: 80px;
    }
    table.info td{
        font-size: 14px;
    }
    table.info th{
        font-size: 16px;
    }
    table.preparation p.numero{
        font-size: 14px;
        font-weight: bold;
        box-sizing: border-box;
        padding-top: 4px;
        margin:-4px;
        border-radius: 50%; 
       
        
    }
   
}
@media only screen and (min-width: 900px){
    .contenu {
       max-width: 650px;
       margin-left: auto;
       margin-right: auto;

    }
}

